/* space-mono-regular - latin */
@font-face {
  font-family: "SpaceMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/space-mono.woff2") format("woff2");
}

/* lexend-deca-regular - latin */
@font-face {
  font-family: "LexendDeca";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/lexend-deca.woff2") format("woff2");
}
