@use "../abstract/variable" as var;
@use "../abstract/mixins" as mix;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var.$main-font;
  background-color: var.$main-white;
}

img {
  display: block;
}

ul {
  @include mix.list-unstyled;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var.$main-yellow;
  border-radius: 6px;
  height: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: var.$main-header-panel-color;
}
