@use "../abstract/variable" as var;
@use "../abstract/mixins" as mix;

.loc-map {
  display: none;
}

.site-location {
  &__inner {
    margin-top: 72px;
  }

  &__map {
    width: 100%;
  }

  &__wrapper {
    margin-top: 40px;
    text-align: center;
  }

  &__box {
    margin-top: 72px;

    &:hover {
      cursor: pointer;
    }
  }

  &__link {
    min-width: 200px;
    max-width: 311px;
    margin: 0 auto;
    margin-bottom: 16px;
    display: block;
    text-decoration: none;
    color: var.$main-dark-navy;
    padding-block: 22px;
    background: #fcb72b26;
  }

  &__title {
    font-family: var.$secondary-font;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.4285714626312256px;
  }

  &__paragrph {
    margin-block: 32px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: var.$main-dim-grey;
  }

  &__btn {
    @include mix.main-button(14px, 39px, 15px);
  }
}

@media only screen and (min-width: 700px) {
  .site-location {
    &__inner {
      margin-top: 144px;
    }

    &__wrapper {
      margin-top: 64px;
    }

    &__map {
      display: none;
    }

    &__links {
      display: none;
    }

    &__title {
      width: 457px;
      margin: 0 auto;
      font-size: 48px;
      line-height: 48px;
    }

    &__paragrph {
      width: 573px;
      margin: 0 auto;
      margin-block: 32px;
    }
  }
  .loc-map {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .site-location {
    &__inner {
      margin-top: 120px;
    }

    &__wrapper {
      margin-top: 120px;
    }

    &__title {
      width: 351px;
      margin: 0;
    }

    &__paragrph {
      margin: 0;
      width: 445px;
      letter-spacing: -2;
    }

    &__box {
      @include mix.flex-box(flex, null, center, space-between, null);
      margin-top: 120px;
      text-align: start;
    }
  }
}
