// main colors and text colors
$main-yellow: #fcb72b;
$main-dark-navy: #495567;
$main-dim-grey: #939caa;
$main-light-grey: #e5ecf4;
$main-snow-color: #f2f5f9;
$main-light-yellow: #fff4df;
$main-white: #ffffff;
$main-dark-grey-color: #333a44;

// fonts
$main-font: "LexendDeca", "Arial", sans-serif;
$secondary-font: "SpaceMono", "Arial", sans-serif;

// sizes

$main-margin: 40px;
$main-font-size: 15px;
